{{!-- src/app/views/schedule/index.hbs --}}
<h2>Lịch trình</h2>

<a href="/schedule/create">Thêm lịch diễn</a> {{!-- Nút Thêm --}}

<ul>
    {{#each schedules}}
    <li>
        {{this.venue}} - {{dateFormat this.date "DD/MM/YYYY"}} - {{this.time}}
        {{#if this.band}}
        (với {{this.band.name}})
        {{/if}}

        {{!-- Các nút Sửa, Xóa --}}
        <a href="/schedule/{{this.slug}}/edit">Sửa</a>
        <a href="/schedule/{{this.slug}}/delete">Xóa</a>
        <a href="/schedule/{{this.slug}}">Chi tiết</a>
    </li>
    {{/each}}
</ul>