<h2>Chỉnh sửa thành viên</h2>
{{#if errors}}
<div class="alert alert-danger">
    <ul>
        {{#each errors}}
        <li>{{this.msg}}</li>
        {{/each}}
    </ul>
</div>
{{/if}}
<form action="/members/{{member.slug}}?_method=PUT" method="POST">

    <div>
        <label for="name">Tên:</label>
        <input type="text" id="name" name="name" value="{{member.name}}">
    </div>
    <div>
        <label for="role">Vai trò:</label>
        <input type="text" id="role" name="role" value="{{member.role}}">
    </div>
    <div>
        <label for="image">Link ảnh:</label>
        <input type="text" id="image" name="image" value="{{member.image}}">
    </div>
    <div>
        <label for="bio">Tiểu sử</label>
        <textarea name="bio" id="bio" cols="30" rows="10">{{member.bio}}</textarea>
    </div>
    <label for="band">Band:</label>
    <select name="band" id="band">
        {{#each bands}}
        <option value="{{this._id}}" {{#if (eq ../member.band this._id)}}selected{{/if}}>{{this.name}}</option>
        {{/each}}
    </select>
    <button type="submit">Cập nhật</button>
</form>