{{!-- src/app/views/music/index.hbs --}}
<h2>Âm nhạc</h2>
<a href="/music/create">Thêm bài hát mới</a>
<ul>
        {{#each songs}}
        <li>
                <a href="/music/{{this.slug}}">{{this.title}}</a> - {{this.artist}}
        {{#if this.imageUrl}}
        <img src="{{this.imageUrl}}" alt="{{this.title}}" width="100">
        {{/if}}
           
    </li>
        {{/each}}
</ul>