{{!< layouts/admin}} <div class="mt-4">
    <div class="container">
        <div>
            <a href="/admin/news/create" class="btn btn-primary">Thêm tin tức</a>
        </div>
        <h1>Quản lý tin tức</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ảnh</th>
                    <th scope="col">Tiêu đề</th>
                    <th scope="col">Người viết</th>
                    <th scope="col">Ngày đăng</th>
                    <th scope="col">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                {{#each news}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>
                        <img src="/{{#if this.image}}{{this.image}}{{else}}no-image.jpg{{/if}}" alt="{{this.title}}"
                            width="100">
                    </td>
                    <td><a href="/admin/news/{{this.slug}}">{{this.title}}</a></td>
                    <td>
                        {{#if this.author}}
                        {{this.author.username}} {{!-- Sửa name thành username --}}
                        {{else}}
                        Không rõ
                        {{/if}}
                    </td>
                    <td>{{dateFormat this.createdAt "DD/MM/YYYY"}}</td>
                    <td>
                        <a href="/admin/news/{{this.slug}}/edit" class="btn btn-warning btn-sm">Sửa</a>
                        <a href="/admin/news/{{this._id}}/delete" class="btn btn-danger btn-sm">Xóa</a>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="5" class="text-center">
                        Không có bài viết nào.
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    </div>