{{!-- src/app/views/news/index.hbs --}}

{{!< layouts/default}} <div class="container mt-4 news-container">
    <h1>Tin Tức</h1>
    <div class="row">
        {{#each news}}
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <div class="card h-100">
                {{#if this.image}}
                <a href="/news/{{this.slug}}">
                    <img src="{{this.image}}" class="card-img-top" alt="{{this.title}}">
                </a>
                {{/if}}
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title"><a href="/news/{{this.slug}}">{{this.title}}</a></h5>
                    <p class="card-text">{{this.description}}</p>
                    <p class="card-text"><small class="text-muted">{{dateFormat this.createdAt "DD/MM/YYYY"}}</small>
                    </p>
                    {{#if this.author}}
                    <p class="card-text"><small class="text-muted">Tác giả: {{this.author.name}}</small></p>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    {{!-- Phân trang --}}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {{#if (gt page 1)}}
            <li class="page-item"><a class="page-link" href="/news?page={{prevPage page}}">Previous</a></li>
            {{/if}}

            {{#each (pages totalPages)}}
            <li class="page-item {{#if (eq ../page this)}}active{{/if}}"><a class="page-link"
                    href="/news?page={{this}}">{{this}}</a></li>
            {{/each}}

            {{#if (lt page totalPages)}}
            <li class="page-item"><a class="page-link" href="/news?page={{nextPage page totalPages}}">Next</a></li>
            {{/if}}
        </ul>
    </nav>
    </div>