{{!-- src/app/views/news/show.hbs --}}

{{!< layouts/default}} <div class="container mt-4">
    <h1>{{newsItem.title}}</h1>
    <p>
        <strong>Ngày đăng:</strong> {{dateFormat newsItem.createdAt 'DD/MM/YYYY HH:mm'}}
    </p>
    {{#if newsItem.author}}
    <p><strong>Tác giả</strong>{{newsItem.author.name}}</p>
    {{/if}}
    {{#if newsItem.image}}
    <div>
        <img src="{{newsItem.image}}" alt="{{newsItem.title}}" class="img-fluid">
    </div>
    {{/if}}

    <div>
        {{{newsItem.content}}}
    </div>

    <a href="/news" class="btn btn-secondary">Quay lại</a>
    </div>