<h2>Tin tức</h2>

{{#each news}}
<div class="news-item">
    <h3><a href="/news/{{this.slug}}">{{this.title}}</a></h3>
    <img src="{{this.image}}" alt="{{this.title}}" style="max-width: 100%; height: auto;">
    <p>{{this.content}}</p>
    {{#if this.author}}
    <p>Tác giả: {{this.author.username}}</p>
    {{/if}}
    <p>Ngày đăng: {{ formatDate this.createdAt }}</p>

</div>
{{/each}}